[Unit]
Description=Waydroid container on FRDM-IMX95
Requires=waydroid-image-provision.service
After=waydroid-image-provision.service dbus.service
ConditionPathExists=/var/lib/waydroid/waydroid.cfg

[Service]
Type=simple
ExecStart=/usr/bin/waydroid container start
Restart=on-failure
RestartSec=5
TimeoutStopSec=45

[Install]
WantedBy=multi-user.target
